html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

table {
  border: 2px solid #293241;
  border-radius: 4px;
  padding: 16px 20px;
  margin: 8px 0;
  border-collapse: collapse;
}

thead,
tfoot {
  background-color: #353535;
  color: white;
}

tr.header-row:hover {
  background-color: #353535;
  color: white;
}

tr {
  border-bottom: 2px solid #293241;
  text-align: center;
}

tr:hover,
tr:nth-child(even):hover {
  background-color: #98c1d9;
}

tr:nth-child(even) {
  background-color: #d9d9d9;
}

td {
  min-width: 7rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

td.positive-change {
  color: green;
}

td.negative-change {
  color: red;
}

td.delete-button {
  border-left: 2px solid #293241;
}

td.delete-button:hover {
  background-color: #e63946;
  color: white;
  cursor: pointer;
}

table.financial-form {
  border: none;
}

tr.financial-form {
  border: none;
  background-color: white;
  color: black;
}

input[type="text"] {
  border: 2px solid #293241;
  border-radius: 4px;
  padding: 16px 20px;
  margin: 8px;
  background-color: #f1f1f1;
  color: black;
}

input[type="number"] {
  border: 2px solid #293241;
  border-radius: 4px;
  padding: 16px 20px;
  margin: 8px;
  background-color: #f1f1f1;
  color: black;
}

select {
  border: 2px solid #293241;
  border-radius: 4px;
  padding: 16px 20px;
  margin: 8px;
  width: 7rem;
  background-color: #f1f1f1;
  color: black;
}

.search .resultBox {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  width: 25rem;
  overflow-y: auto;
}

.search.active .resultBox {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.resultBox {
  border: 2px solid #293241;
  border-radius: 4px;
  padding: 16px 20px;
  margin: 8px;
  color: black;
}

.resultBox li {
  list-style: none;
  padding: 8px 12px;
  min-width: 7rem;
  cursor: default;
  border-radius: 3px;
}

.resultBox li:hover {
  background: #efefef;
}

/* Loader */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
